{{ form_start(form) }}

<div class="card-body">
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
                {{ form_row(form.title) }}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
                {{ form_row(form.article) }}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
                {{ form_row(form.author) }}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
                {{ form_row(form.job) }}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
                {{ form_row(form.url) }}
            </div>
        </div>
    </div>

    <div class="text-right mt-3 mb-3">
        <a href="{{ path('admin.content.news') }}" class="btn btn-danger">Annuler</a>
        <button class="btn btn-success">{{ button|default('Enregistrer') }}</button>
    </div>
</div>

{{ form_end(form) }}