{% extends ("admin/adminbase.html.twig") %}

{% block title %} Admin | Biereau.be - Gestion des inscriptions{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><strong>{{ registrants|length }}</strong> Inscrits aux journées d'informations</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped mt-3" >
                                        <thead>
                                        <tr>
                                            <th>Date d'inscription</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Téléphone</th>
                                            <th>E-Mail</th>
                                            <th>Prénom de l'enfant</th>
                                            <th>Nom de l'enfant</th>
                                            <th>Date de naissance</th>
                                            <th>Section</th>
                                            <th>Séance d'info</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>Date d'inscription</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Téléphone</th>
                                            <th>E-Mail</th>
                                            <th>Prénom de l'enfant</th>
                                            <th>Nom de l'enfant</th>
                                            <th>Date de naissance</th>
                                            <th>Section</th>
                                            <th>Séance d'info</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for registrant in registrants %}
                                        <tr>
                                            <td>{{ registrant.createdAt|format_datetime('medium', 'medium',locale='fr') }}</td>
                                            <td>{{ registrant.parentFirstName }}</td>
                                            <td>{{ registrant.parentLastName }}</td>
                                            <td>{{ registrant.parentPhone }}</td>
                                            <td>{{ registrant.parentEmail }}</td>
                                            <td>{{ registrant.childFirstName }}</td>
                                            <td>{{ registrant.childLastName }}</td>
                                            <td>{{ registrant.childBirthDate|format_datetime('medium', 'none', locale='fr') }}</td>
                                            <td>{{ registrant.childSection }}</td>
                                            <td>{{ registrant.sessionDate|format_datetime('medium', 'none', locale='fr') }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('admin/assets/js/core/jquery.3.2.1.min.js') }}"></script>
        <script src="{{ asset('admin/assets/js/core/popper.min.js') }}"></script>
        <script src="{{ asset('admin/assets/js/core/bootstrap.min.js') }}"></script>

        <!-- jQuery UI -->
        <script src="{{ asset('admin/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('admin/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js') }}"></script>

        <!-- jQuery Scrollbar -->
        <script src="{{ asset('admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js') }}"></script>

        <!-- Moment JS -->
        <script src="{{ asset('admin/assets/js/plugin/moment/moment.min.js') }}"></script>

        <!-- Chart JS -->
        <script src="{{ asset('admin/assets/js/plugin/chart.js/chart.min.js') }}"></script>

        <!-- jQuery Sparkline -->
        <script src="{{ asset('admin/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js') }}"></script>

        <!-- Chart Circle -->
        <script src="{{ asset('admin/assets/js/plugin/chart-circle/circles.min.js') }}"></script>

        <!-- Datatables -->
        <script src="{{ asset('admin/assets/js/plugin/datatables/datatables.min.js') }}"></script>

        <!-- Bootstrap Notify -->
        <script src="{{ asset('admin/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js') }}"></script>

        <!-- Bootstrap Toggle -->
        <script src="{{ asset('admin/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js') }}"></script>

        <!-- jQuery Vector Maps -->
        <script src="{{ asset('admin/ssets/js/plugin/jqvmap/jquery.vmap.min.js') }}"></script>
        <script src="{{ asset('admin/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js') }}"></script>

        <!-- Google Maps Plugin -->
        <script src="{{ asset('admin/assets/js/plugin/gmaps/gmaps.js') }}"></script>

        <!-- Sweet Alert -->
        <script src="{{ asset('admin/assets/js/plugin/sweetalert/sweetalert.min.js') }}"></script>

        <!-- Azzara JS -->
        <script src="{{ asset('admin/assets/js/ready.min.js') }}"></script>

{% endblock %}