<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    {% block stylesheets %}
        <link rel="shortcut icon" type="image/ico" href="{{ asset('images/logo_biereau.ico') }}"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/css/tempusdominus-bootstrap-4.min.css" crossorigin="anonymous" />

        <!-- Fonts and icons -->
        <script src="{{ asset('admin/assets/js/plugin/webfont/webfont.min.js') }}"></script>
        <script>
            WebFont.load({
                google: {"families":["Open+Sans:300,400,600,700"]},
                custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['{{ asset('admin/assets/css/fonts.css') }}']},
                active: function() {
                    sessionStorage.fonts = true;
                }
            });
        </script>

        <!-- CSS Files -->
        <link rel="stylesheet" href="{{ asset('admin/assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('admin/assets/css/azzara.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-datepicker.min.css') }}">
    {% endblock %}
</head>
<body>
{%  block body %}

    <!-- NAV BAR Header + SIDE BAR -->
    <div class="wrapper">
        <!--
            Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
        -->
        <div class="main-header" data-background-color="blue">
            <!-- Logo Header -->
            <div class="logo-header">

                <a href="{{ path('admin.dashboard') }}" class="logo">
                    <div class="navbar-brand" style="color: #fff;">
                        Biereau.be
                    </div>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="fa fa-bars"></i>
					</span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->

            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">

                <div class="container-fluid">

                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li class="nav-item toggle-nav-search hidden-caret">
                            <a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar">

            <div class="sidebar-background"></div>
            <div class="sidebar-wrapper scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">
                        <div class="avatar-sm float-left mr-2">
                            <img src="{% if app.user.avatarFile %}{{ asset('admin/assets/img/{{ app.user.avatarFile }}') }}{% else %}{{ asset('admin/assets/img/defaultAvatar.png') }}{% endif %}" alt="..." class="avatar-img rounded-circle">
                        </div>
                        <div class="info">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ app.user.firstName }}
									<span class="user-level">
                                        Admin
                                    </span>
									<span class="caret"></span>
								</span>
                            </a>
                            <div class="clearfix"></div>

                            <div class="collapse in" id="collapseExample">
                                <ul class="nav">
                                    <li>
                                        <a href="#profile">
                                            <span class="link-collapse">Mon Profil</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('logout')}}">
                                            <span class="link-collapse">Déconnexion</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="{{ path("admin.dashboard") }}">
                                <i class="fas fa-home"></i>
                                <p>Accueil</p>
                            </a>
                        </li>

                        {% if is_granted('ROLE_COMITARD') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}

                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Comité des fêtes</h4>
                            </li>

                            <li class="nav-item {% if current_menu == 'users' %}active{% endif %}">
                                <a data-toggle="collapse" href="#marche">
                                    <i class="fas fa-walking"></i>
                                    <p>Marche Adeptes</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse {% if current_menu == 'Marche Adepte' %}show{% endif %}" id="marche">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="{{ path('admin.marche_adepte.index') }}">
                                                <span class="sub-item">Parcours</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin.marche_adepte_location.index') }}">
                                                <span class="sub-item">Localisations</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}

                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Configuration</h4>
                            </li>

                            <li class="nav-item {% if current_menu == 'users' %}active{% endif %}">
                                <a data-toggle="collapse" href="#users">
                                    <i class="fas fa-users"></i>
                                    <p>Utilisateurs</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse {% if current_menu == 'users' %}show{% endif %}" id="users">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="{{ path('admin.users.index') }}">
                                                <span class="sub-item">Gestion</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin.users.new') }}">
                                                <span class="sub-item">Créer</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item {% if current_menu == 'schoolData' or current_menu == 'schoolSections' %}active{% endif %}">
                                <a data-toggle="collapse" href="#schoolData">
                                    <i class="fas fa-school"></i>
                                    <p>L'Ecole</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse {% if current_menu == 'schoolData' or current_menu == 'schoolSections' %}show{% endif %}" id="schoolData">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="{{ path('admin.schoolData.index') }}">
                                                <span class="sub-item">Coordonnées</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin.sections.index') }}">
                                                <span class="sub-item">Sections</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href={{ path('admin.ecole.staff') }}>
                                                <span class="sub-item">Staff</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href={{ path('admin.ecole.staff.fonction') }}>
                                                <span class="sub-item">Fonctions</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href={{ path('admin.ecole.staff.group') }}>
                                                <span class="sub-item">Groupes</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item {% if current_menu == 'inscriptions' %}active{% endif %}">
                                <a data-toggle="collapse" href="#subscription">
                                    <i class="fas fa-pen-square"></i>
                                    <p>Inscriptions</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse {% if current_menu == 'inscriptions' %}show{% endif %}" id="subscription">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="{{ path('admin.academicyear.index') }}">
                                                <span class="sub-item">Année académique</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin.registration.index') }}">
                                                <span class="sub-item">Séances d'info</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin.registrations.show') }}">
                                                <span class="sub-item">Liste des inscrits</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item" {% if current_menu == 'contenu' %}active{% endif %}>
                                <a data-toggle="collapse" href="#tables">
                                    <i class="fas fa-file-alt"></i>
                                    <p>Contenu</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse {% if current_menu == 'contenu' %}show{% endif %}" id="tables">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="{{ path('admin.content.home_carousel') }}">
                                                <span class="sub-item">Page d'accueil</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin.content.registration_page.index') }}">
                                                <span class="sub-item">Page d'inscription</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href={{ path('admin.content.basic_page.index') }}>
                                                <span class="sub-item">Pages Standards</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href={{ path('admin.content.news') }}>
                                                <span class="sub-item">News</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href={{ path('admin.agenda.index') }}>
                                                <span class="sub-item">Agenda</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a href="{{ path('admin.notification.index') }}">
                                    <i class="fas fa-paper-plane"></i>
                                    <p>Notifications</p>
                                </a>
                            </li>

                        {% endif %}

                        {% if is_granted('ROLE_SUPER_ADMIN') %}

                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Super Admin</h4>
                            </li>
                            <li class="nav-item" {% if current_menu == 'menus' %}active{% endif %}>
                                <a data-toggle="collapse" href="#menus">
                                    <i class="fas fa-bars"></i>
                                    <p>Menus</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse {% if current_menu == 'menus' %}show{% endif %}" id="menus">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="{{ path('admin.content.nav_menu') }}">
                                                <span class="sub-item">Menu de Navigation</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href={{ path('admin.content.sub_menu') }}>
                                                <span class="sub-item">Sous-Menus</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item" {% if current_menu == 'Pages' %}active{% endif %}>
                                <a data-toggle="collapse" href="#pages">
                                    <i class="fas fa-file-alt"></i>
                                    <p>Pages</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse {% if current_menu == 'Pages' %}show{% endif %}" id="pages">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="{{ path('admin.pages.index') }}">
                                                <span class="sub-item">Pages basiques</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
        {% block content %}

        {% endblock %}
    </div>

    {%  block javascript %}
    <!--   Core JS Files   -->
    <script src="{{ asset('admin/assets/js/core/jquery.3.2.1.min.js') }}"></script>
        <script src="{{ asset('admin/assets/js/core/popper.min.js') }}"></script>
        <script src="{{ asset('admin/assets/js/core/bootstrap.min.js') }}"></script>

        <!-- jQuery UI -->
        <script src="{{ asset('admin/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('admin/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js') }}"></script>

        <!-- jQuery Scrollbar -->
        <script src="{{ asset('admin/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js') }}"></script>

        <!-- Moment JS -->
        <script src="{{ asset('admin/assets/js/plugin/moment/moment.min.js') }}"></script>

        <!-- Chart JS -->
        <script src="{{ asset('admin/assets/js/plugin/chart.js/chart.min.js') }}"></script>

        <!-- jQuery Sparkline -->
        <script src="{{ asset('admin/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js') }}"></script>

        <!-- Chart Circle -->
        <script src="{{ asset('admin/assets/js/plugin/chart-circle/circles.min.js') }}"></script>

        <!-- Datatables -->
        <script src="{{ asset('admin/assets/js/plugin/datatables/datatables.min.js') }}"></script>

        <!-- Bootstrap Notify -->
        <script src="{{ asset('admin/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js') }}"></script>

        <!-- Bootstrap Toggle -->
        <script src="{{ asset('admin/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js') }}"></script>

        <!-- jQuery Vector Maps -->
        <script src="{{ asset('admin/ssets/js/plugin/jqvmap/jquery.vmap.min.js') }}"></script>
        <script src="{{ asset('admin/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js') }}"></script>

        <!-- Google Maps Plugin -->
        <script src="{{ asset('admin/assets/js/plugin/gmaps/gmaps.js') }}"></script>

        <!-- Sweet Alert -->
        <script src="{{ asset('admin/assets/js/plugin/sweetalert/sweetalert.min.js') }}"></script>

        <!-- Azzara JS -->
        <script src="{{ asset('admin/assets/js/ready.min.js') }}"></script>

        <script src="{{  asset('js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{  asset('js/bootstrap-datepicker.fr.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.38.0/js/tempusdominus-bootstrap-4.min.js" crossorigin="anonymous"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({
                language: "fr",
                format: 'dd-mm-yyyy',
            });
        });
    </script>

    <script>

        $.fn.previewImage = function() {
            $(this).change(function(e) {
                var url = URL.createObjectURL(e.target.files[0]);
                $(this).parents('.vich-image').children('img').remove();
                $(this).parents('.vich-image').prepend('<img class="preview_image mt-2 mb-2" style="height: 230px; width: auto;" src="' + url + '"/>');
            })
        }
        $('#article_form_imageFile_file').previewImage();
        $('#page_intro_imageFile_file').previewImage();
        $('#sub_article_form_imageFile_file').previewImage();
        $('#home_page_carousel_form_backgroundImageFile_file').previewImage();
        $('#basic_page_form_bannerImageFile_file').previewImage();
        $('#member_form_imageFile_file').previewImage();
        $('#base_page_form_bannerImageFile_file').previewImage();


    </script>
    {% endblock %}

{% endblock %}

</body>
</html>

