{% extends 'admin/adminbase.html.twig' %}

{% block title %} Admin | Biereau.be - Sections{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Sections de l'école</div>
                            </div>
                            <div class="card-body">
                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success">
                                        {{ message|raw }}
                                    </div>
                                {% endfor %}
                                <table class="table table-striped mt-3">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nom Complet</th>
                                        <th scope="col">Nom abrégé</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for section in sections %}
                                    <tr>
                                        <td>{{ section.sectionFullName }}</td>
                                        <td>{{ section.sectionShortName }}</td>
                                        <td>
                                            <a href="{{ path('admin.sections.edit', {id: section.id}) }}" class="btn btn-sm btn-warning"><i class="far fa-edit"></i></a>
                                            <form method="post" action="{{ path('admin.sections.delete', {id: section.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous certain?')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
                                                <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="text-right mt-3 mb-3">
                                    <a href="{{  path('admin.sections.new') }}" class="btn btn-primary">Ajouter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}