{% extends 'admin/adminbase.html.twig' %}

{% block title %} Admin | Biereau.be - Gestion de Contenu{% endblock %}

{% block content %}

    <div class="main-panel">
        <div class="content">
            <div class="page-inner">

                    <div class="row">
                        <div class="col-md-12">

                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Introduction</div>
                                    </div>
                                    <div class="card-body">
                                        {% for message in app.flashes('success') %}
                                            <div class="alert alert-success">
                                                {{ message|raw }}
                                            </div>
                                        {% endfor %}
                                            <table class="table table-striped mt-3" >
                                                <thead>
                                                <tr>
                                                    <th scope="col" style="width: 19%">Nom</th>
                                                    <th scope="col" style="width: 19%">Titre</th>
                                                    <th scope="col" style="width: 19%">Sous-Titre</th>
                                                    <th scope="col" style="width: 19%">Image</th>
                                                    <th style="width: 19%"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% if page.pageintro %}
                                                        <tr>
                                                            <td>{{ page.pageintro.name }}</td>
                                                            <td>{{ page.pageintro.title }}</td>
                                                            <td>{{ page.pageintro.subtitle }}</td>
                                                            <td>{% if page.pageintro.filename %}
                                                                    <img src="{{ vich_uploader_asset(page.pageintro, 'imageFile') | imagine_filter('mini_thumbs') }}">
                                                                {% endif %}
                                                            </td>
                                                                <td>
                                                                    <a href="{{ path('admin.content.intro.edit', {pageid: page.id, introid: page.pageintro.id }) }}" class="btn btn-sm btn-warning"><i class="far fa-edit"></i></a>
                                                                    <form method="post" action="{{ path('admin.content.intro.delete', {pageid: page.id, introid: page.pageintro.id }) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous certain?')">
                                                                        <input type="hidden" name="_method" value="DELETE">
                                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ page.pageintro.id) }}">
                                                                        <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                            {% if page.pageintro %}
                                            {% else %}
                                            <div class="text-left mt-3 mb-3">
                                                <a href="{{ path('admin.content.page_intro.new', {pageid: page.id}) }}" class="btn btn-sm btn-primary">Ajouter une introduction</a>
                                            </div>
                                            {% endif %}

                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Articles</div>
                                    </div>
                                    <div class="card-body">
                                        {% for message in app.flashes('success') %}
                                            <div class="alert alert-success">
                                                {{ message|raw }}
                                            </div>
                                        {% endfor %}

                                            <table class="table table-striped mt-3" >
                                                <thead>
                                                <tr>
                                                    <th scope="col" style="width: 5%">#</th>
                                                    <th scope="col" style="width: 19%">Nom</th>
                                                    <th scope="col" style="width: 19%">Titre</th>
                                                    <th scope="col" style="width: 19%">Sous-Titre</th>
                                                    <th scope="col" style="width: 19%">Image</th>
                                                    <th style="width: 19%"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in page.articles  %}
                                                        <tr>
                                                            <td>{{ loop.index }}</td>
                                                            <td>{{ item.name }}</td>
                                                            <td>{{ item.title }}</td>
                                                            <td>{{ item.subtitle }}</td>
                                                            <td>{% if item.filename %}
                                                                    <img src="{{ vich_uploader_asset(item, 'imageFile') | imagine_filter('mini_thumbs') }}">
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <a href="{{ path('admin.content.article.edit', {pageid: page.id, articleid: item.id}) }}" class="btn btn-sm btn-warning"><i class="far fa-edit"></i></a>
                                                                <form method="post" action="{{ path('admin.content.article.delete', {pageid: page.id, articleid: item.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous certain?')">
                                                                    <input type="hidden" name="_method" value="DELETE">
                                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                                                                    <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                        <div class="text-left mt-3 mb-3">
                                            <a href="{{  path('admin.content.article.new', { pageid: page.id }) }}" class="btn btn-sm btn-primary">Ajouter un article</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Sous-Articles</div>
                                    </div>
                                    <div class="card-body">
                                        {% for message in app.flashes('success') %}
                                            <div class="alert alert-success">
                                                {{ message|raw }}
                                            </div>
                                        {% endfor %}
                                            <table class="table table-striped mt-3" >
                                                <thead>
                                                <tr>
                                                    <th scope="col" style="width: 5%">#</th>
                                                    <th scope="col" style="width: 19%">Nom</th>
                                                    <th scope="col" style="width: 19%">Titre</th>
                                                    <th scope="col" style="width: 19%">Sous-Titre</th>
                                                    <th scope="col" style="width: 19%">Image</th>
                                                    <th style="width: 19%"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for article in page.articles %}
                                                    {% if article.subArticles %}
                                                        {% for subArticle in article.subArticles %}
                                                            <tr>
                                                                <td>{{ loop.index }}</td>
                                                                <td>{{ subArticle.name }}</td>
                                                                <td>{{ subArticle.title }}</td>
                                                                <td>{{ subArticle.subtitle }}</td>
                                                                <td>{% if subArticle.filename %}
                                                                        <img src="{{ vich_uploader_asset(subArticle, 'imageFile') | imagine_filter('mini_thumbs') }}">
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a href="{{ path('admin.content.sub_article.edit', {id: subArticle.id}) }}" class="btn btn-sm btn-warning"><i class="far fa-edit"></i></a>
                                                                    <form method="post" action="{{ path('admin.content.sub_article.delete', {id: subArticle.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous certain?')">
                                                                        <input type="hidden" name="_method" value="DELETE">
                                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subArticle.id) }}">
                                                                        <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>

                                        <div class="text-left mt-3 mb-3">
                                            <a href="{{ path('admin.content.sub_article.new', { pageid: page.id }) }}" class="btn btn-sm btn-primary">Ajouter un sous-article</a>
                                        </div>

                                    </div>
                                </div>

                        </div>
                    </div>

            </div>
        </div>
    </div>

{% endblock %}
