{{ form_start(form) }}

<div class="card-body">
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
                {{ form_row(form.name) }}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
               {{ form_row(form.title) }}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
                {{ form_row(form.parentNavMenu) }}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
                {% if form.parentSubMenu is defined %}
                    {{ form_row(form.parentSubMenu) }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
                {{ form_row(form.bannerImageFile) }}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            {% if page.filename is not null %}
                <div class="form-group">
                    <span class="form-check-label">Supprimer l'image courante : </span>
                    <input type="checkbox" id="basic_page_form_bannerImageFile_delete" name="basic_page_form[bannerImageFile][delete]" class="ml-1 form-check-input" value="1" />
                </div>
            {% endif %}
        </div>
    </div>

    <div class="text-right mt-3 mb-3">
        <a href="{{ path('admin.pages.index') }}" class="btn btn-danger">Annuler</a>
        <button class="btn btn-success">{{ button|default('Enregistrer') }}</button>
    </div>
</div>

{{ form_end(form) }}