{%  extends "base.html.twig" %}

{% block title %}Collège du Biereau - Accueil{% endblock %}

{% block content %}

<section class="home-slider owl-carousel">
    {% for item in carousel %}
        <div class="slider-item" style="background-image:url({{ vich_uploader_asset(item, 'backgroundImageFile') }});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-8 text-center ftco-animate">
                        <h1 class="mb-4">{{ item.slogan }}</h1>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>

<section class="ftco-services ftco-no-pb">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-puzzle"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">{{ school_values[0].title }}</h3>
                        <p>{{ school_values[0].description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-save"></span>
                        
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">{{ school_values[1].title }}</h3>
                        <p>{{ school_values[1].description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-book"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">{{ school_values[2].title }}</h3>
                        <p>{{ school_values[2].description }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-unity"></span>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading">{{ school_values[3].title }}</h3>
                        <p>{{ school_values[3].description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row ftco-animate justify-content-center">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">

                        {% for new in news %}
                            <div class="item">
                                <div class="testimony-wrap d-flex">
                                    <div class="user-img mr-4" style="background-image: url(images/newsletter.png)">
                                    </div>
                                    <div class="text ml-2 bg-light">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                      <i class="icon-quote-left"></i>
                                    </span>
                                        <p class="name">{{ new.title }}</p>
                                        <p></p>
                                        <p>{{ new.article }}</p>
                                        <p class="name">{{ new.author }}</p>
                                        <span class="position">{{ new.job }}</span>
                                        {% if new.url is null %}
                                        {% else %}
                                            <div class="col-md-8 mt-5 text-center">
                                                <a href="{{ new.url }}" target="_blank" class="btn btn-sm btn-primary px-4 py-3">J'y vais <span class="ion-ios-arrow-round-forward"></span></a>
                                            </div>
                                        {% endif %}
                                        {% if new.internalRoute is null %}
                                        {% else %}
                                            <div class="col-md-8 mt-5 text-center">
                                                <a href="{{ new.internalRoute.route }}" target="_blank" class="btn btn-sm btn-primary px-4 py-3">J'y vais <span class="ion-ios-arrow-round-forward"></span></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {%  endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}