{{ form_start(form) }}

<div class="card-body">
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
                {{ form_row(form.slogan) }}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
                {{ form_row(form.linkToMenu) }}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-8">
            <div class="form-group form-group-default">
                {{ form_row(form.backgroundImageFile) }}
            </div>
        </div>
    </div>

    <div class="text-right mt-3 mb-3">
        <a href="{{ path('admin.content.home_carousel') }}" class="btn btn-danger">Annuler</a>
        <button class="btn btn-primary">{{ button|default('Ajouter') }}</button>
    </div>
</div>

{{ form_end(form) }}