{% extends 'admin/adminbase.html.twig' %}

{% block title %} Admin | Biereau.be - Gestion de Contenu{% endblock %}

{% block content %}

    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Modifier l'item</div>
                            </div>

                            {{ form_start(form) }}

                            <div class="card-body">
                                <div class="row mt-3">
                                    <div class="col-md-8">
                                        <div class="form-group form-group-default">
                                            {{ form_row(form.slogan) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            {{ form_row(form.linkToMenu) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default">
                                            {{ form_row(form.backgroundImageFile) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-8">
                                        {% if carousel.filename is not null %}
                                            <div class="form-group">
                                                <span class="form-check-label">Supprimer l'image courante : </span>
                                                <input type="checkbox" id="home_page_carousel_form_backgroundImageFile_delete" name="home_page_carousel_form[backgroundImageFile][delete]" class="ml-1 form-check-input" value="1" />
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="text-right mt-3 mb-3">
                                    <a href="{{ path('admin.content.home_carousel') }}" class="btn btn-danger">Annuler</a>
                                    <button class="btn btn-success">{{ button|default('Modifier') }}</button>
                                </div>
                            </div>

                            {{ form_end(form) }}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}