{% extends 'admin/adminbase.html.twig' %}

{% block title %} Admin | Biereau.be - Gestion de Contenu{% endblock %}

{% block content %}

    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Groupes de fonctions/membres de l'école</div>
                            </div>
                            <div class="card-body">
                                {% for message in app.flashes('success') %}
                                    <div class="alert alert-success">
                                        {{ message|raw }}
                                    </div>
                                {% endfor %}

                                <table class="table table-striped mt-3">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 5%">#</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Fonctions</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in groups %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>
                                                {% for key in item.fonctions %}
                                                    {{ key.name }} |
                                                {% endfor %}
                                            </td>
                                            <td>
                                                <a href="{{ path('admin.ecole.staff.group.edit', {id: item.id}) }}" class="btn btn-sm btn-warning"><i class="far fa-edit"></i></a>
                                                <form method="post" action="{{ path('admin.ecole.staff.group.delete', {id: item.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous certain?')">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                                                    <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="text-left mt-3 mb-3">
                                    <a href="{{  path('admin.ecole.staff.group.new') }}" class="btn btn-primary">Ajouter</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}