{{ form_start(form) }}

<div class="card-body">
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="form-group form-group-default">
                {{ form_row(form.entryDate) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-default">
                {{ form_row(form.academicYear) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-group-default">
                {{ form_row(form.enabled) }}
            </div>
        </div>
    </div>

    <div class="text-right mt-3 mb-3">
        <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
    </div>
</div>

{{ form_end(form) }}